---
- hosts: all
  tasks:

    - name: Prepare artifacts
      include_role:
        name: prepare-artifacts
      vars:
        prepare_artifacts_dir: "{{ ansible_user_dir }}/artifacts"
        kontainer_project_src_dir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/opentelekomcloud/kontainer-engine-driver-otc'].src_dir }}"
        ui_project_src_dir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/opentelekomcloud/ui-cluster-driver-otc'].src_dir }}"


